* {
  /* most of the time box-sizing is set to border-box in all elements */
  box-sizing: border-box;
}

.container {
  background-color: grey;

  /* if we need to take up the entire height of our browser, we can set the height to 100vh (vh = viewport height) */
  height: 100vh;
}

.box {
  background-color: aquamarine;

  /* remove the borders to place the boxes side by side if width is set to 50%*/
  /* same goes with padding */
  /* both border and padding requires space */
  /* to fix this issue of space allocation when using float and width of  50 percent for the two members of the box class we can change the box-sizing propery */
  border: 2px solid;
  padding: 25px;
  box-sizing: border-box;

  /* height's default value is auto */
  height: auto;

  /* height: 200px; */

  /* width's default value is auto */
  width: auto;

  width: 50%;

  /* float right places the first box on the right */
  float: right;

  float: left;

  /* center the text */
  text-align: center;

  /* change max and min width */
  
  /* min-width: 75%; */
  min-height: 100%;
  max-height: 50%;

  /* display: auto; */
  overflow: auto;
}