.icons {
  text-align: center;

}

.icons a {
  text-decoration: none;
  margin-right: 20px;
}

.fa-solid.fa-house.fa-5x {
  color: green;
}

.fa-solid.fa-house.fa-5x:hover {
  color: hsl(120, 100%, 35%);
}

.fa-brands.fa-twitter.fa-5x {
  color: rgb(112, 201, 236);
}

.fa-brands.fa-twitter.fa-5x:hover {
  color: hsl(197, 77%, 78%);
}

.fa-brands.fa-youtube.fa-5x {
  color: red;
}

.fa-brands.fa-youtube.fa-5x:hover {
  color: hsl(0, 100%, 70%);
}

.fa-brands.fa-tiktok.fa-5x {
  color: black;
}

.fa-brands.fa-tiktok.fa-5x:hover {
  color: hsl(0, 0%, 50%);
}